<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"> <!-- bean definitions here -->
<bean id="classA" class="edu.miu.cs544.ClassA" init-method="init"
destroy-method="destroy" scope="prototype">
    <constructor-arg value="Hello"/>
    <property name="classB" ref="classB"/>
</bean>
    <bean id="classB" class="edu.miu.cs544.ClassB" init-method="init"
          destroy-method="destroy" lazy-init="true">
        <property name="text" value="world"/>
    </bean>
    <bean id="classC" class="edu.miu.cs544.ClassC"/>
</beans>